body {
  background: #222;
  font-family: monospace;
}

.snake-game-body {
  margin: 50px auto 30px auto;
  text-align: center;
  background: #517354;
  width: 850px;
  display: flex;
  box-shadow: 0 20px 7px -18px rgba(0, 0, 0, .3);
}

.snake-game-scoreboard {
  background: #5f9263;
  border: 3px solid #b2d8a2;
  flex-grow: 1;
}

.snake-game-container {
  flex-basis: 600px;
}

#snake-game {
  border: 3px solid #6afda4;
  background: #196342;
}

.scoreboard-label {
  margin-top: 30px;
  font-size: 30px;
  color: #eee;
  padding: 10px;
}

.scoreboard-score {
  font-size: 40px;
  background: #196342;
  border: 1px solid #6afda4;
  color: #8df27c;
  width: 120px;
  margin: auto;
}

.footer {
  text-align: center;
}

.instructions {
  color: #eee;
  font-size: 20px;
  letter-spacing: 1px;
}
